div {
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 25px;
    text-align: center;
}

div:hover {
    background-color: burlywood;
}

a:link {
    color: darkgrey;
}

a:visited {
    color: darkslategrey;
}

a:hover {
    color: black;
}

a:active {
    color: darkseagreen;
}

div:hover p {
    display: block;
}

p {
    display: none;
    background-color: cadetblue;
    padding: 20px;
  }